@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    color: #2D2D2D;
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    margin-top: 90px;
}
.popover-data{
    max-width: 200px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    z-index: 2;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%) !important;
    margin: 0;
    position: absolute;
    top: 0;
    right: -215px;
    display: none;
}
.popover-data.show{
    display: block;
}
.link-btn{
    position: relative;
}
.sidebar {
    min-height: calc(100vh - 110px);
    height: calc(100vh - 110px);
    width: 250px !important;
    position: fixed;
    left: 25px;
    overflow: auto;
    background: #FFFFFF;
    border-right: 0.5px solid #DBDBDB;
    border-radius: 12px;
    padding: 10px;
}

.active-icon {
    display: none;
}

.inactive-icon {
    display: inline-block;
}

.active .nav-link .menu-icon.active-icon {
    display: inline-block;
}

.active .nav-link .menu-icon.inactive-icon {
    display: none;
}

.collapse-item.active .active-icon {
    display: inline-block;
}

.collapse-item.active .inactive-icon {
    display: none;
}

.sidebar .nav-item.active {}


.sidebar .nav-item {
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}


.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    border-bottom: 1px solid #DBDBDB;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    padding: 1rem !important;
    margin: 0px;
    color: #2D2D2D;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
    margin-bottom: 0px;
}

.sidebar .nav-item .nav-link:focus {
    color: #2D2D2D;
}

.sidebar .nav-item:hover .nav-link {
    /* color: #2D2D2D; */
}

.menu-icon {
    margin-right: 5px;
}

.sidebar .nav-item .nav-link {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #2D2D2D;
}

.toggle-btn {
    background-color: #F5F8FF !important;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    margin-right: 15px;
    border-color: transparent;
    box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
}

.card {

    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
    border-radius: 12px;
    border-color: transparent;
}

.small-card {

    width: max-content;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    float: left;
}

.small-card .heading-card {
    color: #2C2E33;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
}

.small-card .count-card {
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
}

.small-card .card-body {
    padding: 12px 26px;
}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 118% */

    letter-spacing: 0.03em;

    color: #2C2E33;

}

.sidebar.toggled .nav-item .nav-link span {
    display: none;
}

.sidebar.toggled .nav-item .nav-link {
    padding: 15px;
    width: 100%;
}

#wrapper #content-wrapper.toggled {
    width: calc(100% - 7.5rem) !important;
}

.sidebar.toggled {
    overflow: auto;
    width: 5rem !important;
}

.sidebar .nav-item:last-child {
    margin-bottom: 0px !important;
}

.toggle-btn:focus,
.toggle-btn:active,
.toggle-btn:hover {
    outline: none !important;
    box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2) !important;
    border-color: transparent !important;
}

input[type='search']:focus {
    box-shadow: none;
}

.toggle-btn img {
    width: 100%;
}

.sidebar .nav-item .collapse,
.sidebar .nav-item .collapsing {
    margin: 0px;
}

.sidebar .nav-item.active .nav-link {
    font-weight: 600;
    background: #6C84FF;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 15px 15px 15px 35px !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    background: #6C84FF;
    color: white;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.sidebar-toggled #content-wrapper {
    width: calc(100vw - 7.5rem) !important;
}

#content-wrapper {
    width: calc(100vw - 300px) !important;
    margin-left: auto;
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    color: #2D2D2D;
}

.chart-area {
    border: 1px solid #7C818F;
    border-radius: 5px;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.button-custom-primary-outline {
    border: 1px solid #6C84FF;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    padding: 11px 15px;
    color: #6C84FF;
}

.button-custom-primary-outline:hover {
    color: #6C84FF;
}

.button-custom-primary {
    border: 1px solid #6C84FF;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    padding: 11px 15px;
    color: white;
    background-color: #6C84FF;
    min-width: 158px;
    height: 53px;
}

.button-custom-light {
    height: 44px;
    background: #EAEDFF;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;

    color: #2D2D2D;
}

.bg-custom-light {
    background: #EAEDFF;
}

select.form-control {
    background: #EAEDFF;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #2D2D2D;
    height: 44px;
    border-color: #EAEDFF;
}

.profile-data-section span {
    display: block;
}

.max-content {
    width: max-content;
}

.filter-data .filter-item {
    display: inline-block;
    margin-right: 26px;
    float: left;
}

.filter-item .datepicker-group .input-group-text {
    height: 44px;
    border-color: #EAEDFF;
    background-color: #EAEDFF;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-right: 0px;
}

.filter-item .datepicker-group input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #EAEDFF;
    height: 44px;
    border-color: #EAEDFF;
    outline: none;
    box-shadow: none !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;

    color: #2D2D2D
}


.filter-data .filter-item:last-child {
    margin-right: 0px;
}

.dataTables_length {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #2D2D2D;
}

.dataTables_info {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #2D2D2D;
}

.dataTables_paginate {
    display: inline-block;
    float: right;
    padding-top: 10px;
}

.dataTables_filter input {
    margin-left: 0px !important;
    background: #FBFBFB;
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    min-width: 300px;
    height: 44px;
    margin-bottom: 10px;
}

.dataTables_wrapper div.dataTables_length select {
    background-color: #EAEDFF;
    border-radius: 5px;
    height: 44px;
    margin-left: 10px;
    margin-right: 10px;
}

.table thead th {
    background: #EAEDFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 165%;
    color: #2D2D2D;
}

.table thead th tr {
    border: none;
}

.table tbody td {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #2D2D2D;
}

.box-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #6C84FF;
    background: #EAEDFF;
    border: 1px solid #6C84FF;
    border-radius: 6px;
    padding: 10px 15px;
    display: inline-block;
    margin-right: 10px;
}

.link-btn img {
    vertical-align: -webkit-baseline-middle;
}

.action-btn {
    background: #FFFFFF;
    box-shadow: 0px -9px 80px rgba(0, 0, 0, 0.075), 0px -1.12694px 10.0172px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin-right: 10px;
    width: 34px;
    height: 34px;
    padding: 0px;
}

.action-btn img {
    max-width: 100%;
}

.action-btn:last-child {
    margin-right: 0px;
}

.dataTables_paginate .paginate_button {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    background-color: #EAEDFF;

}

.dataTables_paginate .paginate_button .page-link {
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #2D2D2D !important;
}

.dataTables_paginate .paginate_button.disabled {
    border: 1px solid #6C84FF;
    background-color: white;
}

.dataTables_paginate .paginate_button.active {
    background: #6C84FF !important;

}

.dataTables_paginate .paginate_button.next {
    border: 1px solid #6C84FF;
    background-color: white !important;
}

.dataTables_paginate .paginate_button.active .page-link {
    color: white !important;
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-data-section .name {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #232D50;
    margin-bottom: 6px;
}


.profile-data-section .email {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #232D50;
}

.dynamic-card .top-heading {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #2C2E33;
    margin-bottom: 10px;
}

.dynamic-card .top-data {
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
}

.dynamic-card .bottom-heading {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #828282;
    margin-bottom: 10px;
    margin-top: 16px;
}

.dynamic-card .bottom-data {
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    color: #828282;
    margin-bottom: 0px;
}

.pull-left {
    display: inline-block;
    float: left;
}

.pull-right {
    display: inline-block;
    float: right;
}

.modal-header-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #2D2D2D;
    margin-bottom: 45px;
}

.form-data .label {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    display: block;
}

.multiselect-native-select .btn-group {
    width: 100%;
}

.multiselect-native-select .multiselect {
    background-color: #EAEDFF;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #2D2D2D;
    height: 44px;
    border-color: #EAEDFF;
    text-align: left !important;
}

.form-data input[type='text'],
.form-data input[type='email'],
.form-data input[type='password'],
.form-data input[type='number'],
.form-data input[type='url'],
.form-data input[type='search'],
.form-data input[type='color'] {
    height: 44px;
    border: 1px solid #6C84FF;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #BDBDBD;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.button-custom-secondary {
    min-width: 150px;
    height: 53px;
    background: #BDBDBD;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    border-color: #BDBDBD;
}

.backpage-arrow {
    margin-right: 30px;
}

.arrow-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 175%;
    color: #2D2D2D;
    margin-bottom: 30px;
}

.backpage-arrow img {
    width: 44px;
}

.details-data-section {}

.details-data-section .details-row {
    margin-bottom: 30px;
}

.details-data-section .details-label {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #828282;
    display: inline-block;
    min-width: 260px;
    margin-right: 5px;
    vertical-align: top;
}

.details-data-section .details-label p {
    margin-bottom: 0;
}

.details-data-section .details-value {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #212121;
    display: inline-block;
    width: calc(100% - 270px);
    vertical-align: top;

}

.details-data-section .details-value p {
    margin-bottom: 0;
}

.details-data-section .details-value .file-name {
    max-width: 300px;
    width: calc(100% - 55px);
    display: inline-block;
    margin-right: 10px;
    vertical-align: super;
}

.upload-file-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0px;
    vertical-align: top;
    position: relative;
    top: -10px;
}


/* image upload css  */
.image-upload-section {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 20px;
    width: 100%;
    margin-bottom: 50px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: -15px;
    z-index: 1;
    bottom: -5px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #6C84FF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    padding: 5px;
}

.avatar-upload .avatar-edit input+label img {
    width: 100%;
    vertical-align: baseline;
}

.avatar-upload .avatar-preview {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px;
    border: 1px solid #EAEDFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.avatar-upload .avatar-preview #imagePreview img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* image upload css  */
/* custom checkbox  */
/* The custom-checkbox-section */
.custom-checkbox-section {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 180%;
    /* identical to box height, or 28px */


    /* text black body */

    color: #2D2D2D;
}

/* Hide the browser's default checkbox */
.custom-checkbox-section input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E0E0E0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox-section:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox-section input:checked~.checkmark {
    background-color: #6c84ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-section input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-section .checkmark:after {
    left: 9px;
    top: 4px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inline-block-checkbox .custom-checkbox-section {
    display: inline-block;
    margin-right: 10px;
}

/* custom checkbox  */


/* custom radion css  */
/* The container */
.custom-radio-section {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio-section input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio-section:hover input~.radio-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio-section input:checked~.radio-checkmark {
    background-color: #6c84ff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-section input:checked~.radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-section .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.inline-block-radio .custom-radio-section {
    display: inline-block;
    margin-right: 10px;
}

/* custom radion css  */





/* custom scrollbar  */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:
            #D9D9D9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:
            #D9D9D9;
}

/* custom scrollbar  */
/* ------- DO NOT EDIT BELOW --------- */


@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

.round-progressbar {
    --bg-color: var(--bg-color);
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--bg-color) calc(var(--pgPercentage) * 1%), #fff 0);
    color: var(--bg-color);
    -webkit-animation: growProgressBar 3s 1 forwards;
}



/* animation circle end */

@media screen and (max-width:991.98px) {
    .details-data-section .details-label {
        width: 100%;
        margin-bottom: 10px;
    }

    .details-data-section .details-value {
        width: 100%;
    }
}

@media screen and (max-width:767.98px) {
    .sidebar {
        width: 5rem !important;
    }



    .sidebar .nav-item .nav-link span {
        display: none;
    }

    #content-wrapper {
        width: calc(100vw - 7.5rem) !important;
    }

    .sidebar.fullwidth {
        width: 250px !important;
    }

    .sidebar.fullwidth .nav-item .nav-link {
        text-align: left;
    }

    .sidebar.fullwidth .nav-item .nav-link span {
        display: inline-block;
    }

    #content-wrapper.fullwidth {
        width: calc(100vw - 300px) !important;
    }
}

/* media query for mobile */

/* media query for mobile */

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 28px;
}

.dot2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}


