@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;

    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #2D2D2D;
}

.login-section {
    padding: 0px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-login-image {
    background: url('../img/login-left-bg.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    border-right: 16px solid #DBE1FF;
}

.bg-login-image .login-icon {
    width: 130px;
}

.bg-login-image h4 {
    font-weight: 700;
    font-size: 76.1074px;
    line-height: 89px;
    color: white;
}

.bg-login-image p {
    color: white;
    font-weight: 700;
    font-size: 40.5906px;
    line-height: 48px;
    letter-spacing: 0.04em;
}

.bg-login-image p span {
    color: #2D2D2D;
}

.bg-login-right-image {
    background: url('../img/login-right-bg.png');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}

.login-form-section {
    min-width: 480px;
}

.bg-login-right-image h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.025em;
    text-align: left;
    margin-bottom: 40px;
}

.custom-text-input {
    background: #F3F3F4;
    border-radius: 11px;
    height: 56px;
    border-color: #F3F3F4;
    color: #2D2D2D;

}

.custom-text-input:focus {
    border: 1px solid #6C84FF;
    background-color: white;
    outline: none;
    box-shadow: none;
}

.login-form .label {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.login-form .form-group {
    margin-bottom: 46px;
}

.custom-primary-btn {
    background: #6C84FF;
    /* tm */

    box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
    border-radius: 11px;
    color: white;
    border-color: #6C84FF;
}

.login-btn {
    padding: 14px 65px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.custom-primary-btn:hover {
    color: white;
}

/* custom checkbox  */
/* The custom-checkbox-section */
.custom-checkbox-section {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 180%;
    /* identical to box height, or 28px */


    /* text black body */

    color: #2D2D2D;
}

/* Hide the browser's default checkbox */
.custom-checkbox-section input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E0E0E0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox-section:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox-section input:checked~.checkmark {
    background-color: #6c84ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-section input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-section .checkmark:after {
    left: 9px;
    top: 4px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* custom checkbox  */
@media only screen and (max-width: 600px) {
    .login-form-section {
        padding: 25px;
        min-width: 100%;
    }
}