<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cric Info Live Score</title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" />
    <link th:href="@{/css/jquery.datetimepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet">

</head>
<body style="font-family: serif; color: #fff; width: 100%; background-color: #000">
<div class="container" align="center">
    <h1 style="margin-top: 80px;">[[${status}]]</h1>
    <hr style="background-color: #fff;"/>
<!--    <h4 style="margin-top: 40px; margin-bottom: 20px;">Internal Server Error..!!</h4>-->
    <h5 style="margin-top: 40px; margin-bottom: 20px;">[[${message}]]</h5>
    <a style="text-decoration: underline; font-size: 18px;" th:href="@{/}">Back to Home</a>
</div>
</body>
</html>